<div>
    <form method="post">
        <div style="padding:30px">
            <label>Enter a title for your mathematical theory:  </label><br/>
            <input class="form-control" type="text" id="postName" TextMode="Multiline" name="postName"/><br/>            
            <textarea id="textBox" name="textBox"></textarea></br>
                 
            <input class="btn btn-success" type="submit" name="commentSubmit"><br/> 
            <p> User: &nbsp;<%= user.name%></P>
        </div>
    </form>
</div>
