<!DOCTYPE html>
<html lang="en">

<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script>
    <link rel="stylesheet" href="/views/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/css/bootstrap.css">
    <script src="../node_modules/ckeditor/ckeditor.js"></script>
    <script src="../node_modules/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#textBox').ckeditor();
        });
    </script>
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("editorDiv");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>

<body>
    <nav lass="navbar navbar-expand-lg navbar-dark bg-primary">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <h1 class="page-header"><i></i></h1>
            <div class="navbar-brand">Do Sciences </div>
                <% if(auth){ %>
                <div style="margin-left:auto; margin-right:0"> <h5>You are logged in </h5></div>                              
                <% } else { %>
                <div style="margin-left:auto; margin-right:0"> 
                <a class="navbar-brand" href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
                <a class="navbar-brand" href="/users/login" class="btn btn-secondary btn-block">Login</a></div>
                <% }%>
        </nav>
    </nav>
    <div class="container">
        <%- body %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>