<!DOCTYPE html>
<html lang="en">

<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script>
    <link rel="stylesheet" href="/views/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/css/bootstrap.css">
</head>

<body>
    <nav lass="navbar navbar-expand-lg navbar-dark bg-primary">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <h1 class="page-header"></h1>
            <div class="navbar-brand"><a class="nav-link" href="/">Do Sciences</a></div>            
                <a class="nav-link" href="/posts">See all posts</a>               
                <% if(auth){ %>          
                 <a class="nav-link" href="/posts/createpost">Create post</a>          
                <div style="margin-left:auto; margin-right:0"> <h5>You are logged in </h5></div>                              
                <% } else { %>
                <div style="margin-left:auto; margin-right:0"> 
                <a class="navbar-brand" href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
                <a class="navbar-brand" href="/users/login" class="btn btn-secondary btn-block">Login</a></div>
                <% }%>
        </nav>
    </nav>
    <div class="container">
        <%- body %>
    </div>
    <script src="../node_modules/ckeditor/ckeditor.js"></script>
    <script src="../node_modules/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#textBox').ckeditor();
        });
    </script>
    <script type="text/javascript"> CKEDITOR.replace("textBox"); </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        function copyFunction(text) {
            /* Get the text field */
            var copyText = document.getElementById(text);
            /* Select the text field */
            copyText.select();            
            /* Copy the text inside the text field */
            document.execCommand("copy");
            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);} </script>

    <script >
        function onInput(){
            var val = document.getElementById('myInput').value;
            document.getElementById('myInputButton').innerText = val;
        }
    </script>
    <script >
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");            
            $temp.remove();
            alert("Copied the equation");
        }
    </script>

    
</body>

</html>